<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <div class="ratio ratio-16x9 mb-4">
        <iframe src="https://www.youtube.com/embed/yKNxeF4KMsY" title="Música motivacional para entrenar"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen></iframe>
      </div>

      <div class="card shadow">
        <div class="card-body">
          <h3 class="card-title mb-4 text-center">¡Crea tu cuenta!</h3>
          <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div *ngIf="errorMessage" class="alert alert-danger">
              {{ errorMessage }}
            </div>
            <div class="mb-3">
              <label for="name" class="form-label">Nombre completo</label>
              <input type="text" id="name" class="form-control" formControlName="nombre"
                placeholder="Ingresa tu nombre completo"
                [ngClass]="{ 'is-invalid': submitted && f['nombre'].errors }" />
              <div *ngIf="submitted && f['nombre'].errors" class="invalid-feedback">
                <div *ngIf="f['nombre'].errors['required']">El nombre es obligatorio</div>
                <div *ngIf="f['nombre'].errors['minlength']">El nombre debe tener al menos 3 caracteres</div>
              </div>
            </div>

            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input type="text" id="email" class="form-control" formControlName="email"
                placeholder="Tu correo electrónico" [ngClass]="{ 'is-invalid': submitted && f['email'].errors }" />
              <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                <div *ngIf="f['email'].errors['required']">El email es obligatorio</div>
                <div *ngIf="f['email'].errors['email']">Ingresa un email válido</div>
              </div>
            </div>

            <div class="mb-3">
              <label for="password" class="form-label">Contraseña</label>
              <input type="password" id="password" class="form-control" formControlName="password"
                placeholder="************" [ngClass]="{ 'is-invalid': submitted && f['password'].errors }" />
              <div class="form-text text-muted">
                La contraseña debe contener:
                <ul class="small">
                  <li>Al menos 8 caracteres</li>
                  <li>Al menos una letra mayúscula</li>
                  <li>Al menos una letra minúscula</li>
                  <li>Al menos un número</li>
                  <li>Al menos un carácter especial (&#64;$!%*?&)</li>
                </ul>
              </div>
              <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                <div *ngIf="f['password'].errors['required']">La contraseña es obligatoria</div>
                <div *ngIf="f['password'].errors['minlength']">La contraseña debe tener al menos 8 caracteres</div>
                <div *ngIf="f['password'].errors['pattern']">La contraseña no cumple con los requisitos de seguridad
                </div>
              </div>
            </div>


            <div class="d-grid mb-3">
              <button type="submit" class="btn btn-success" data-test="register-button" [disabled]="loading">
                <span *ngIf="loading" class="spinner-border spinner-border-sm me-2" role="status"
                  aria-hidden="true"></span>
                {{ loading ? 'Registrando...' : 'Registrarse' }}
              </button>
            </div>

            <hr />

            <div class="d-flex justify-content-between">
              <a routerLink="/login">¿Ya tienes cuenta? Inicia sesión</a>
              <a routerLink="/politicas">Política de privacidad</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>