/* Desktop: botón abajo derecha, audio abajo izquierda */
#btnScrollTop {
  bottom: 1rem;
  right: 1rem;
  z-index: 999;
}

#audioPlayer {
  bottom: 1rem;
  left: 1rem;
}
.spotify{
  bottom: 1rem; 
  left: 1rem; 
  z-index: 998; 
  width: 300px; 
  height: 80px;
}

/* Móvil: botón justo arriba del audio (ambos abajo) */
@media (max-width: 767.98px) {
  #audioPlayer {
    bottom: 1rem;
    left: 1rem;
  }
  
  #btnScrollTop {
    bottom: 6rem; /* ajusta según tamaño del audio */
    right: 1rem;
  }
}
