<app-presentacion></app-presentacion>
<app-estudios></app-estudios>
<app-projectos></app-projectos>

<!-- Botón Scroll Top -->
<button *ngIf="showScrollTopButton" 
        class="btn position-fixed shadow"
        (click)="scrollToTop()" 
        title="Volver arriba"
        id="btnScrollTop">
  <i class="fas fa-arrow-up"></i>
</button>

<!-- Spotify Embed -->
<div class="position-fixed shadow spotify">
  <iframe
    src="https://open.spotify.com/embed/playlist/37i9dQZF1DX8Uebhn9wzrS"
    width="100%" height="80" frameborder="0"
    allowtransparency="true" allow="encrypted-media"
    loading="lazy">
  </iframe>
</div>
